In [1]:
import pandas as pd

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#District Summary
#create data frame
schools_df = pd.DataFrame(school_data_complete)
#school count
school_count = len(schools_df["school_name"].unique())
#student_count
stu_count = len(schools_df["student_name"])
#need to get sum of budget but NOT duplicate budgets within schools. Dropping duplicates and creating a group
budgey = schools_df.drop_duplicates().groupby("budget").sum()
#creating a dataframe to get budget sum
budgey_df = pd.DataFrame(budgey)
#need to move the budget field out of the index column
budgey_df.reset_index(inplace=True)
#converting budget from string to int
budgey_df["budget"] = pd.to_numeric(budgey_df["budget"]) 
#getting the budget sum
budgey_df["budget"].sum()
#average math score
avemath = schools_df["math_score"].mean()
#average reading score
averead = schools_df["reading_score"].mean()
#begin the process for percent passing math by putting into bins because why not?
mathbin = [0, 70, 100]
mathlabe = ["0", "1"]
mathperc = pd.cut(schools_df["math_score"], mathbin, labels=mathlabe)
mathperc_df = pd.DataFrame(mathperc)
#convert math percentage to int and get the sum
mathperc_df["math_score"] = pd.to_numeric(mathperc_df["math_score"]) 
mathperc_df["math_score"].sum()
#percentage passing math
mathpass = (mathperc_df["math_score"].sum()/stu_count) * 100
mathpass
#begin process for percent passing reading by putting into bins
readbin = [0, 69, 100]
readlabe = ["0", "1"]
readperc = pd.cut(schools_df["reading_score"], readbin, labels=readlabe)
readperc_df = pd.DataFrame(readperc)
#convert reading percentage to int and get the sum
readperc_df["reading_score"] = pd.to_numeric(readperc_df["reading_score"]) 
readperc_df["reading_score"].sum()
#percentage passing math
readpass = (readperc_df["reading_score"].sum()/stu_count) * 100
#calculate overall passing
overallpass = (mathpass + readpass)/2
overallpass
#create the final dataframe
district_df = pd.DataFrame({
     "Total Schools": [school_count],
     "Total Students": [stu_count],
     "Total Budget": [budgey_df["budget"].sum()],
     "Average Math Score": [avemath],
     "Average Reading Score": [averead],
     "% Passing Math": [mathpass],
     "% Passing Reading": [readpass],
     "% Overall Passing Rate": [overallpass]   
    })
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,85.805463,79.0988

In [4]:
#School Summary
#start with the original data, build a new frame
school = school_data_complete[["school_name", "type", "Student ID", "budget", "math_score", "reading_score"]]
#do the calculated columns
school_calcs = school.groupby(['school_name', 'type', 'budget']).agg({'Student ID':'count','math_score': 'mean', 
                                                              'reading_score': 'mean'}).reset_index()
#rename to fit solutions 
schools2 = school_calcs.rename(columns = {'type': 'School Type', 'Student ID': 'Total Students', 'budget': 'Total School Budget', 
                             'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'})
#create a frame for the passing math
mathpass = school_data_complete[["school_name", "math_score"]]
students = mathpass["school_name"]
passgrades = mathpass[(mathpass["math_score"] >= 70)]
#group by school
finalmath = passgrades.groupby(["school_name"]).count().reset_index()
#create a frame for the passing reading
readpass = school_data_complete[["school_name", "reading_score"]]
passgradesr = readpass[(readpass["reading_score"] >= 70)]
#group by school
finalread = passgradesr.groupby(["school_name"]).count().reset_index()
#merge the two
mergetables = pd.merge(finalmath, finalread, how="left", on=["school_name", "school_name"])
#gather everything together and calculate
schools_summ = pd.merge(schools2, mergetables, how="left", on=["school_name", "school_name"])
schools_summ['% Passing Math'] = round(schools_summ['math_score']/schools_summ['Total Students']*100,6)
schools_summ['% Passing Reading'] = round(schools_summ['reading_score']/schools_summ['Total Students']*100,6)
schools_summ['% Overall Passing'] = round((schools_summ['Average Math Score'] + schools_summ['Average Reading Score']) / 2,6)
schools_summ['Per Student Budget'] = schools_summ['Total School Budget']/schools_summ['Total Students']
#final table
final = schools_summ[['school_name', 'School Type', 'Total Students', 'Total School Budget', 
                          'Per Student Budget', 'Average Math Score', 'Average Reading Score', 
                           '% Passing Math', '% Passing Reading', '% Overall Passing']]
final

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,79.041198
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,83.518837
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,78.934893
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,78.924425
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,83.584128
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,79.112082
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,83.809133
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,78.906068
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,79.019429
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,83.942308
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,78.793698
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,83.542589
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,83.633639
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,83.631844
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,83.818611

In [5]:
#Top Performing Schools
#top five performing schools
final.nlargest(5, '% Overall Passing')

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,83.942308
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,83.818611
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,83.809133
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,83.633639
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,83.631844

In [6]:
#Bottom Performing Schools
#bottom five performing schools
final.nsmallest(5, '% Overall Passing')

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,78.793698
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,78.906068
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,78.924425
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,78.934893
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,79.019429

In [8]:
#Math Scores by Grade
#prepare for math score by grade by setting up new frame 
grades_math_set = school_data_complete[["school_name", "math_score", "grade"]]
#calculate
math_grades = grades_math_set.groupby(['school_name', 'grade']).agg({'math_score': 'mean'}).reset_index()
#create a pivot table 
mathpivot = math_grades.pivot_table('math_score', ['school_name'], 'grade').reset_index()
#create new frame, final result
mathtable = mathpivot[['school_name','9th', '10th', '11th', '12th']]
mathtable

grade            school_name        9th       10th       11th       12th
0         Bailey High School  77.083676  76.996772  77.515588  76.492218
1        Cabrera High School  83.094697  83.154506  82.765560  83.277487
2       Figueroa High School  76.403037  76.539974  76.884344  77.151369
3           Ford High School  77.361345  77.672316  76.918058  76.179963
4        Griffin High School  82.044010  84.229064  83.842105  83.356164
5      Hernandez High School  77.438495  77.337408  77.136029  77.186567
6         Holden High School  83.787402  83.429825  85.000000  82.855422
7          Huang High School  77.027251  75.908735  76.446602  77.225641
8        Johnson High School  77.187857  76.691117  77.491653  76.863248
9           Pena High School  83.625455  83.372000  84.328125  84.121547
10     Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11       Shelton High School  83.420755  82.917411  83.383495  83.778976
12        Thomas High School  83.590022  83.087886  83.498795  83.497041
13        Wilson High School  83.085578  83.724422  83.195326  83.035794
14        Wright High School  83.264706  84.010288  83.836782  83.644986

In [9]:
#Reading Scores by Grade
grades_read_set = school_data_complete[["school_name", "reading_score", "grade"]]
# calculate 
read_grades = grades_read_set.groupby(['school_name', 'grade']).agg({'reading_score': 'mean'}).reset_index()
#create a pivot table 
readpivot = read_grades.pivot_table('reading_score', ['school_name'], 'grade').reset_index()
#create new frame, final result 
readtable = readpivot[['school_name','9th', '10th', '11th', '12th']]
readtable

grade            school_name        9th       10th       11th       12th
0         Bailey High School  81.303155  80.907183  80.945643  80.912451
1        Cabrera High School  83.676136  84.253219  83.788382  84.287958
2       Figueroa High School  81.198598  81.408912  80.640339  81.384863
3           Ford High School  80.632653  81.262712  80.403642  80.662338
4        Griffin High School  83.369193  83.706897  84.288089  84.013699
5      Hernandez High School  80.866860  80.660147  81.396140  80.857143
6         Holden High School  83.677165  83.324561  83.815534  84.698795
7          Huang High School  81.290284  81.512386  81.417476  80.305983
8        Johnson High School  81.260714  80.773431  80.616027  81.227564
9           Pena High School  83.807273  83.612000  84.335938  84.591160
10     Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11       Shelton High School  84.122642  83.441964  84.373786  82.781671
12        Thomas High School  83.728850  84.254157  83.585542  83.831361
13        Wilson High School  83.939778  84.021452  83.764608  84.317673
14        Wright High School  83.833333  83.812757  84.156322  84.073171

In [10]:
#Scores by School Spending
#spending bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
#dataframe from last final table
spending = final[['Per Student Budget', 'Average Math Score', 'Average Reading Score', 
                                  '% Passing Math', '% Passing Reading', '% Overall Passing']]
#cut into bins
spending['Spending Ranges'] = pd.cut(spending["Per Student Budget"], spending_bins, labels=group_names)
#group and show average
scores = spending.groupby(['Spending Ranges']).mean().reset_index()
#create new dataframe
scores_by_school = scores[['Spending Ranges', 'Average Math Score', 'Average Reading Score', 
                          '% Passing Math', '% Passing Reading', '% Overall Passing']]
#group and average again
scores_by_school.groupby(['Spending Ranges']).mean()

C:\Users\Kimberly\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,83.694606
$585-615,83.599686,83.885211,94.230858,95.900287,83.742448
$615-645,79.079225,81.891436,75.668212,86.106569,80.485330
$645-675,76.997210,81.027843,66.164813,81.133951,79.012526

In [15]:
#Scores by School Size
#spending bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#dataframe from last final table
size = final[['Total Students', 'Average Math Score', 'Average Reading Score', 
                                  '% Passing Math', '% Passing Reading', '% Overall Passing']]
#cut into bins
size['School Size'] = pd.cut(size["Total Students"], size_bins, labels=group_names)
#group and show average
sizes = size.groupby(['School Size']).mean().reset_index()
#create new dataframe
score_by_size = sizes[['School Size', 'Average Math Score', 'Average Reading Score', 
                          '% Passing Math', '% Passing Reading', '% Overall Passing']]
#group and give average again
score_by_size.groupby(['School Size']).mean()

C:\Users\Kimberly\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099436,83.875720
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,83.619561
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,79.545455

In [17]:
#Scores by School Type
#dataframe from last final table
stype = final[['School Type', 'Average Math Score', 'Average Reading Score', 
                                  '% Passing Math', '% Passing Reading', '% Overall Passing']]

#group and show average
types = stype.groupby(['School Type']).mean()
types

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,83.685136
District,76.956733,80.966636,66.548453,80.799062,78.961685